.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: hsl(211, 10%, 24%);
    
}

.title {
    color: white;
    margin: 30px 0 10px 0;
    font-family: "Overpass", "sans-serif";
}

.text {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-weight: 500;
    background-color: hsl(211, 10%, 24%);
    color: hsl(217, 12%, 63%);
}


.rating-container:hover {
    background-color: hsl(23, 95%, 52%);
    color: white;
}

.rating-container.active { 
    color: white;
    background-color: hsl(217, 12%, 63%);
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: inherit;
    font-weight: 700;
    background-color: hsl(23, 95%, 52%);
    color: white;
}

.submit-btn:active {
    background-color: white;
    color: hsl(23, 95%, 52%);
}
